body{
    margin: 0%;
}
.banner{
    position: relative;
    background-image: url(https://plus.unsplash.com/premium_photo-1701590725747-ac131d4dcffd?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8d2Vic2l0ZSUyMGJhbm5lcnxlbnwwfHwwfHx8MA%3D%3D);
    background-size: cover;
    background-position: center;
    height: 400px;
    color: white;
}
.nav-bar{
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar a{
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;

}
.nav-bar a:hover{
    text-decoration: underline;
}
.banner-heading{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}